<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('./partials/head.ejs') %>
    <title>My Blogs</title>
</head>
<body>
    <%- include('./partials/script.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-3">
        <div class="row row-cols-3">
            <% blogs.forEach(blog => { %>
                <div class="col">
                    <div class="card" style="width: 300px;">
                        <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View Blog</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>